@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");

:root {
    --transition-time: 0.3s;
    font-family: "Open Sans", sans-serif;
    transition: background-color var(--transition-time), color var(--transition-time);
    overflow-x: clip;
}

body {
    background-color: var(--background-primary);
    color: var(--text);
    min-height: 100vh;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0 8vw 0 8vw;
    overflow-y: clip;
    background-color: var(--background-secondary);
}

#header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#header-left {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 1em;
}

#header-img {
    height: 4vw;
    border: none;
}

#logo-text {
    background-image: var(--linearPrimaryAccent);
    color: transparent;
    background-clip: text;
    font-size-adjust: 0.58;
    font-weight: 450;
}

#header-bottom {
    align-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: space-between;
    gap: 20em;
}

#navbar li {
    display: inline;
    transition: background-color var(--transition-time), color var(--transition-time);
    width: 100%;
    text-align: center;
}

/* Hover effect for navbar LI */
#navbar li:hover {
    background-color: var(--background-secondary);
    border-radius: 5px;
}

#navbar a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    font-size: 1.2em;
}

footer {
    justify-content: center;
    gap: 4em;
    background-color: var(--background-secondary);
    text-align: center;
    padding: 1em 0; /* top right bottom left */
    max-height: min-content;
    min-height: 4vh;
}

footer #site-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
    font-weight: bold;
}

.footer-img {
    width: 4vw;
    height: 4vw;
    border: none;
    border-radius: 50%;
}

main {
    flex: 1;
}

code, pre {
    background-color: var(--background-secondary);
    border-radius: 5px;
    padding: 0.2em;
    font-family: "JetBrains Mono", monospace;
    font-size: small;
}

.gallery {
    display: grid;
    margin: 2em 0 2em 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.gallery-item {
    background-color: var(--secondary);
    /* Add a transition for the colour on hover */
    transition: background-color 0.3s;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    width: auto;
}

.gallery-item:hover {
    background-color: var(--primary);
}


.gallery-item img {
    max-width: 100%;
    height: auto;
}

.grid-margins {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; /* 3 columns, left and right are for shoulder space, middle is main */
}

.centre {
    text-align: center;
}

.error {
    animation: red-pulse 0.7s 3;
    background-color: inherit;
}

.centre-flex {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

form {
    margin-top: 2vh;
    margin-bottom: 2vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    background-color: var(--background-secondary);
    border-radius: 15px;
    width: 75%;
    padding-bottom: 2vh;
}

form div {
    text-align: center;
}

form div input, form div textarea, form div select {
    background-color: var(--charcoal);
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    width: 30vw;
    color: var(--text);
}

form div input:focus, form div textarea:focus, form div select:focus {
    background-color: var(--secondary);
}

form div input::placeholder, form div textarea::placeholder, form div select option {
    color: var(--french);
}


form button {
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    color: #01050e;
    font-weight: bold;
    padding: 0.5em;
    transition: background-color 0.3s;
    width: 30vw;
    margin: 0 0 0 0;
}

form button:hover {
    background-color: var(--accent);
}

.radio-container div {
    display: flex;
    flex-direction: column;
}