@import url('https://fonts.googleapis.com/css?family=Konkhmer%20Sleokchher:700|Inter:400');

/* Current WIP Colour Scheme:
https://coolors.co/44a5da-c548d5-474954-f6f2f7-e71d36
 */

:root {
    /* CSS HEX */
    --picton-blue: #44a5daff;
    --secondary-blue: #00273d;
    --steel-pink: #c548d5ff;
    --charcoal: #474954ff;
    --jet: #2f3037ff;
    --secondary-background: #30363F;
    --eerie-black: #1c1d21;
    --anti-flash: #f2f3f7;
    --light-blue: #99ceeb;
    --magnolia: #f5f0f6ff;
    --ghost-white: #F6F2F7;
    --french: #c1c6d7;
    --red-pantone: #e71d36ff;

}

:root {
    --linearPrimarySecondary: linear-gradient(#00ffd5, #00273d);
    --linearPrimaryAccent: linear-gradient(#00ffd5, #a62ab7);
    --linearSecondaryAccent: linear-gradient(#00273d, #a62ab7);
    --radialPrimarySecondary: radial-gradient(#00ffd5, #00273d);
    --radialPrimaryAccent: radial-gradient(#00ffd5, #a62ab7);
    --radialSecondaryAccent: radial-gradient(#00273d, #a62ab7);
}


@media (prefers-color-scheme: light) {
    :root {
        --text: #01050e;
        --background-primary: #fafaff;
        --background-secondary: #f1f0f6;
        --primary: var(--picton-blue);
        --secondary: #e3e0ef;
        --accent: var(--red-pantone);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #f1f5fe;
        --background-primary: var(--eerie-black);
        --background-secondary: #26272c;
        --primary: var(--picton-blue);
        --secondary: var(--secondary-blue);
        --accent: var(--red-pantone);
    }
}