{% extends "_base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
    <section class="grid-margins">
        <div id="left"></div>
        <div id="centre">
            <h3>Contact</h3>
            <form id="contact" method="POST">
                <div class="form-section">
                    <label for="name">Name</label><br>
                    <input type="text" id="name" name="name" placeholder="Name..." required>
                </div>
                <div class="form-section">
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" placeholder="Email..." required>
                </div>
                <div class="form-section">
                    <label for="phone">Phone Number (Optional)</label><br>
                    <input type="tel" id="phone" name="phone" placeholder="Phone Number...">
                </div>
                <div class="form-section">
                    <label for="subject">Subject</label><br>
                    <input type="text" id="subject" name="subject" placeholder="Subject..." required>
                </div>
                <div class="form-section">
                    <label for="message">Message</label><br>
                    <textarea id="message" name="message" placeholder="Message..." required></textarea>
                </div>
                <div class="form-section">
                    <button type="submit">Submit</button>
                </div>
                {% if message %}
                    <div class="form-section">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            </form>
        </div>
        <div id="right"></div>
    </section>
{% endblock %}