{% extends "_base.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/gallery.js') }}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{% block title %}Gallery{% endblock %}

{% block content %}
    <section class="grid-margins">
        <div id="left"></div>
        <div id="centre">
            <h3>Gallery</h3>
            <p>Welcome to the gallery</p>
            <div id="gallery">

            </div>
        </div>
        <div id="right"></div>
    </section>
{% endblock %}