{% extends "_base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="grid-margins">
        <div id="left"></div>
        <div id="centre">
            <section id="top" class="centre-flex">
                <h3>Echo</h3>
                <span>The endgame of communications</span>
            </section>
            <section id="about">
                <h3>Who We Are</h3>
                <p>
                    We are a software development and standards company that specialises in digital communications. We
                    develop the popular open-source Echo protocol, which is used by dozens of people worldwide.

                    Our mission is to raise the bar for communication software and allow total user freedom in how
                    they communicate. We believe that communication is a fundamental human right and should be
                    protected at all costs.
                </p>
            </section>
            <section>
                <h3>Example image</h3>
                <img alt="Home page example image" src="{{ url_for("static", filename="img/modified/server_rack.png") }}">
            </section>
            <section id="what-we-do">
                <h3>What we do</h3>
                <p>
                    We develop the Echo protocol, a secure and open-source communication protocol that allows users to
                    communicate with each other without fear of surveillance or censorship. We also develop the Echo
                    client, a user-friendly application that allows users to easily communicate with each other using
                    the Echo protocol.

                    We also provide consulting services to companies that want to use the Echo protocol in their
                    products. We help them integrate the protocol into their products and provide ongoing support to
                    ensure that their products are secure and reliable.

                    Have a look at our <a href="{{ url_for("gallery") }}">gallery</a> to see some of the projects we have
                    worked on.
            </section>
            <section id="existing-clients">
                <h3>Existing Clients</h3>
                <p>
                    We have worked with a number of clients to help them integrate the Echo protocol into their
                    products. Some of our clients include:
                </p>
                <ul>
                    <li>Acme Corporation</li>
                    <li>Widget Inc.</li>
                    <li>Example Corp.</li>
                </ul>
            </section>
            <section id="contact">
                <h3>Contact Us</h3>
                <p>
                    If you would like to learn more about our services or have any questions, please feel free to
                    contact us <a href="{{ url_for("contact") }}">here</a>
                </p>
            </section>
        </div>
        <div id="right"></div>
    </section>
{% endblock %}