{% extends "_base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="grid-margins">
        <div id="left"></div>
        <div id="centre">
            <section id="top" class="centre-flex">
                <h3>Echo</h3>
                <span>The endgame of communications</span>
            </section>
            <section id="about">
                <h3>Who We Are</h3>
                <p>
                    We are a software development and standards company that specialises in digital communications. We
                    develop the popular open-source Echo protocol, which is used by dozens of people worldwide.

                    Our mission is to raise the bar for communication software and allow total user freedom in how
                    they communicate. We believe that communication is a fundamental human right and should be
                    protected at all costs.
                </p>
            </section>
        </div>
        <div id="right"></div>
    </section>
{% endblock %}